/* index.css */

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
}

/* Universal fix for Safari user-select issue */
button,
input,
select,
textarea {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.noselect {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
